* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #111;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    color: #00adb5;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    text-align: center;
}

.hero span {
    color: #ffdd00;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: #00adb5;
    text-decoration: none;
    border-radius: 5px;
}

.section {
    padding: 60px 10%;
    text-align: center;
}

.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    border-radius: 20px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
